name: GitHub Pages

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      artifact_id: ${{ steps.artifact.outputs.artifact_id }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth:  0    # Fetch all history for .GitInfo and .Lastmod
          submodules: true

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          install_options: "--no-channel-add"

      - name: Build with Nix
        run: |
          # Ensure the binary cache is populated
          echo "cachix use nixpkgs" >> ~/.bashrc

          # Load the Cachix binaries
          source ~/.bashrc

          # Build the Hugo website
          nix build ".?submodules=1"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        id: artifact
        with:
          path: ./result

  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'tomodachi94/tomodachi94.github.io' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    
  links:  
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v5
        with:
          artifact-ids: ${{ needs.build.outputs.artifact_id }}

      - name: Extract artifact
        run: tar -xvf artifact.tar

      - name: Restore lychee cache
        uses: actions/cache@v5
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - run: chmod -R 777 .
        name: Fixup

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: '--root-dir "$(pwd)" --cache --max-cache-age 1d .'
